.DS_Store
frameworks/runtime-src/proj.android/app/.externalNativeBuild
frameworks/runtime-src/proj.android/.idea
frameworks/runtime-src/proj.android/app/assets
js/game.js
frameworks/runtime-src/proj.android/app/libs
frameworks/runtime-src/proj.android/app/obj
*.manifest
